@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #000;
  /* color: #e8ec98; */
  /* font-size: 18px; */
  color: white;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 1rem;
  background-color: green;
  width: fit-content;
  height: 3rem;
  width: 10rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
  background-color: red;
}
.split {
  position: relative;
}
.second .char {
  position: absolute;
}

.nav {
  padding: 2rem 3rem;

  display: flex;
  justify-content: space-between;
  color: #fff;
}
.logo img {
  width: 5rem;
}
.hero > p {
  padding: 2rem 3rem;

  line-height: 1.4;
  margin-top: 10rem;
}
.moving-text {
  position: relative;
  display: flex;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19rem;
  margin-top: 8rem;
}
.moving-text p {
  display: flex;
  animation: move linear 12s infinite;
}
.sticker {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

.sun {
  right: 10%;
  width: 11rem;
  height: 11rem;
}
.wow {
  bottom: 0;
  left: 10%;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
